<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Description</th>
            <td>
                {{ holding.description|raw }}
            </td>
        </tr>
        {% include 'partial/notes.html.twig' with {'item': holding} %}
        <tr>
            <th>Date</th>
            <td>{% include 'partial/long-date.html.twig' with {'entity': holding} %}</td>
        </tr>
        <tr>
            <th>Parish</th>
            <td>
                {% if holding.parish %}
                    <a href='{{ path("parish_show", {"id": holding.parish.id}) }}'>{{ holding.parish }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Archive</th>
            <td>
                {% if holding.archive %}
                    <a href='{{ path('archive_show', {'id': holding.archive.id}) }}'>{{ holding.archive }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Books</th>
            <td>
                {% if holding.books %}
                    <ul>
                        {% for book in holding.books %}
                            <li><a href='{{ path("book_show", {"id": book.id}) }}'>{{ book }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ holding.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ holding.updated|date }}</td>
        </tr>
    </tbody>
</table>


