{% extends 'base.html.twig' %}

{% block title %}Diocese Details {% endblock %}

 {% block pageheader %}
     <h1>Diocese Details</h1>
 {% endblock %}

 {% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('diocese_edit', {'id': diocese.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit
        </a>
        <form class="d-inline-block delete-form" method="post" action="{{ path('diocese_delete', {'id': diocese.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ diocese.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash" aria-hidden="true"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/show.html.twig' with {'term': diocese} %}
        {% block callback %}
            <tr>
                <th>Province</th>
                <td>
                    {% if diocese.province %}
                        <a href='{{ path("province_show", {"id": diocese.province.id}) }}'>{{ diocese.province }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Injunctions</th>
                <td>
                    {% if diocese.injunctions|length > 0 %}
                        <ul>
                            {% for injunction in diocese.injunctions %}
                                <li>
                                    <a href='{{ path('injunction_show', {'id': injunction.id}) }}'>
                                        {{ injunction }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Archdeaconries</th>
                <td>
                    {% if diocese.archdeaconries|length > 0 %}
                        <ul>
                            {% for archdeaconry in diocese.archdeaconries %}
                                <li>
                                    <a href='{{ path("archdeaconry_show", {"id":archdeaconry.id }) }}'>
                                        {{ archdeaconry }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Links</th>
                <td>
                    {% embed '@NinesMedia/link/partial/list.html.twig' with {
                        'entity': diocese } %}
                    {% endembed %}
                </td>
            </tr>
        {% endblock %}
    {% endembed %}


{% endblock %}
