{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 text-center">
    <input type="submit" value="Save" class="btn btn-primary" />
    {% if transaction_category.id is null %}
        <a href="{{ path('transaction_category_index') }}" class="btn btn-warning"> Cancel </a>
    {% else %}
        <a href="{{ path('transaction_category_show', { 'id': transaction_category.id }) }}" class="btn btn-warning">
            Cancel </a>
    {% endif %}
</div>
{{ form_end(form) }}

