{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 text-center">
    <input type="submit" value="Save" class="btn btn-primary" />
    {% if nation.id is null %}
        <a href="{{ path('nation_index') }}" class="btn btn-warning"> Cancel </a>
    {% else %}
        <a href="{{ path('nation_show', { 'id': nation.id }) }}" class="btn btn-warning"> Cancel </a>
    {% endif %}
</div>
{{ form_end(form) }}

