<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Parish</th>
            <th>Source</th>
            <th>Books</th>
        </tr>
    </thead>
    <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>
                    <a href="{{ path('inventory_show', { 'id': inventory.id }) }}">
                        {% include 'partial/short-date.html.twig' with {'entity': inventory} %}
                    </a>
                </td>
                <td>
                    <a href='{{ path('parish_show', {'id': inventory.parish.id}) }}'>
                        {{ inventory.parish }}
                    </a>
                </td>
                <td>
                    {% if inventory.manuscriptSource %}
                        <a href='{{ path('manuscript_source_show', {'id': inventory.manuscriptSource.id}) }}'>
                            {{ inventory.manuscriptSource }}
                        </a>
                        {{ inventory.pageNumber }}
                    {% endif %}
                    <br>
                    {% if inventory.printSource %}
                        <a href='{{ path('print_source_show', {'id': inventory.printSource.id}) }}'>
                            {{ inventory.printSource }}
                        </a>
                        {{ inventory.pageNumber }}
                    {% endif %}
                </td>
                <td>
                    {{ inventory.books|length }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
