<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Parish</th>
            <th>Source</th>
            <th>Books</th>
        </tr>
    </thead>
    <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>
                    <a href="{{ path('inventory_show', { 'id': inventory.id }) }}">
                        {% include 'partial/short-date.html.twig' with {'entity': inventory} %}
                    </a>
                </td>
                <td>
                    <a href='{{ path('parish_show', {'id': inventory.parish.id}) }}'>
                        {{ inventory.parish }}
                    </a>
                </td>
                <td>
                    <a href='{{ path('source_show', {'id': inventory.source.id}) }}'>
                        {{ inventory.source }}
                    </a>
                    {{ inventory.pageNumber }}
                </td>
                <td>
                    {{ inventory.books|length }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
