<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Value</th>
            <td>
                {{ transaction.value(true) }}
            </td>
        </tr>
        <tr>
            <th>Shipping</th>
            <td>
                {{ transaction.shippingValue(true) }}
            </td>
        </tr>
        <tr>
            <th>Copies</th>
            <td>
                {{ transaction.copies }}
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {% include 'partial/long-date.html.twig' with {'entity': transaction} %}
            </td>
        </tr>
        <tr>
            <th>Transcription</th>
            <td>
                {{ transaction.transcription|raw }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ transaction.description|raw }}
            </td>
        </tr>

        <tr>
            <th>Book</th>
            <td>
                {% if transaction.book %}
                    <a href='{{ path("book_show", {"id": transaction.book.id}) }}'>{{ transaction.book }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Parish</th>
            <td>
                {% if transaction.parish %}
                    <a href='{{ path("parish_show", {"id": transaction.parish.id}) }}'>{{ transaction.parish }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Source</th>
            <td>
                {% if transaction.source %}
                    <a href='{{ path("source_show", {"id": transaction.source.id}) }}'>{{ transaction.source }}</a>
                {% endif %}
                {{ transaction.page }}
            </td>
        </tr>
        <tr>
            <th>Transaction Category</th>
            <td>
                {% if transaction.transactionCategory %}
                    <a href='{{ path("transaction_category_show", {"id": transaction.transactionCategory.id}) }}'>{{ transaction.transactionCategory }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Injunction</th>
            <td>
                {% if transaction.injunction %}
                    <a href='{{ path("injunction_show", {"id": transaction.injunction.id}) }}'>{{ transaction.injunction }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ transaction.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ transaction.updated|date }}</td>
        </tr>
    </tbody>
</table>


