<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>ID</th>
            <td>
                {{ transaction }}
            </td>
        </tr>
        <tr>
            <th>Value</th>
            <td>
                {{ transaction.value(true) }}
            </td>
        </tr>
        <tr>
            <th>Carriage</th>
            <td>
                {{ transaction.shippingValue(true) }}
            </td>
        </tr>
        <tr>
            <th>Copies</th>
            <td>
                {% if transaction.copies is not null %}
                    {{ transaction.copies }}
                {% else %}
                    <i>unknown</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ transaction.location }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {% include 'partial/long-date.html.twig' with {'entity': transaction} %}
            </td>
        </tr>
        <tr>
            <th>Transcription</th>
            <td>
                {{ transaction.transcription|raw }}
            </td>
        </tr>
        <tr>
            <th>Modern English</th>
            <td>
                {{ transaction.description|raw }}
            </td>
        </tr>
        {% include 'partial/notes.html.twig' with {'item': transaction} %}
        <tr>
            <th>Books</th>
            <td>
                {% if transaction.books|length > 0 %}
                    <ul>
                        {% for book in transaction.books %}
                            <li>
                                <a href='{{ path("book_show", {"id": book.id}) }}'>{{ book }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Parish</th>
            <td>
                {% if transaction.parish %}
                    <a href='{{ path("parish_show", {"id": transaction.parish.id}) }}'>{{ transaction.parish }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Source</th>
            <td>
                {% if transaction.source %}
                    <a href='{{ path("source_show", {"id": transaction.source.id}) }}'>{{ transaction.source }}</a>
                {% endif %}
                {{ transaction.page }}
            </td>
        </tr>
        <tr>
            <th>Transaction Category</th>
            <td>
                {% if transaction.transactionCategory %}
                    <a href='{{ path("transaction_category_show", {"id": transaction.transactionCategory.id}) }}'>{{ transaction.transactionCategory }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Injunction</th>
            <td>
                {% if transaction.injunction %}
                    <a href='{{ path("injunction_show", {"id": transaction.injunction.id}) }}'>{{ transaction.injunction }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ transaction.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ transaction.updated|date }}</td>
        </tr>
    </tbody>
</table>


