<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>ID</th>
            <td>
                {{ transaction }}
            </td>
        </tr>
        <tr>
            <th>Value</th>
            <td>
                {{ transaction.value(true) }}
            </td>
        </tr>
        <tr>
            <th>Carriage</th>
            <td>
                {{ transaction.shippingValue(true) }}
            </td>
        </tr>
        <tr>
            <th>Copies</th>
            <td>
                {% if transaction.copies is not null %}
                    {{ transaction.copies }}
                {% else %}
                    <i>unknown</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ transaction.location }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {% include 'partial/long-date.html.twig' with {'entity': transaction} %}
            </td>
        </tr>
        <tr>
            <th>Monarch</th>
            <td>
                {% if transaction.monarch %}
                    <a href='{{ path('monarch_show', {'id': transaction.monarch.id}) }}'>{{ transaction.monarch }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Transcription</th>
            <td>
                {{ transaction.transcription|raw }}
            </td>
        </tr>
        <tr>
            <th>Modern English</th>
            <td>
                {{ transaction.modernTranscription|raw }}
            </td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>
                {{ transaction.publicNotes|raw }}
            </td>
        </tr>
        {% include 'partial/notes.html.twig' with {'item': transaction} %}
        <tr>
            <th>Books</th>
            <td>
                {% if transaction.books|length > 0 %}
                    <ul>
                        {% for book in transaction.books %}
                            <li>
                                <a href='{{ path("book_show", {"id": book.id}) }}'>{{ book }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Parish</th>
            <td>
                {% if transaction.parish %}
                    {% include 'parish/partial/location.html.twig' with {'parish': transaction.parish } %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Manuscript Source</th>
            <td>
                {% if transaction.manuscriptSource %}
                    <a href='{{ path("manuscript_source_show", {"id": transaction.manuscriptSource.id}) }}'>{{ transaction.manuscriptSource }}</a>
                {% endif %}
                {{ transaction.page }}
            </td>
        </tr>
        <tr>
            <th>Print Source</th>
            <td>
                {% if transaction.printSource %}
                    <a href='{{ path("print_source_show", {"id": transaction.printSource.id}) }}'>{{ transaction.printSource }}</a>
                {% endif %}
                {{ transaction.page }}
            </td>
        </tr>
        <tr>
            <th>Transaction Categories</th>
            <td>
                {% for category in transaction.transactionCategories %}
                <a href='{{ path("transaction_category_show", {"id": category.id}) }}'>{{ category }}</a>
                {%- if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Injunction</th>
            <td>
                {% if transaction.injunction %}
                    <a href='{{ path("injunction_show", {"id": transaction.injunction.id}) }}'>{{ transaction.injunction }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ transaction.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ transaction.updated|date }}</td>
        </tr>
    </tbody>
</table>
