<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
            <th>Copies</th>
            <th>Transcription</th>
            <th>Description</th>

        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>
                    <a href="{{ path('transaction_show', { 'id': transaction.id }) }}">
                        {{ transaction.id }}
                    </a>
                </td>
                <td>
                    {{ transaction.value(true) }}
                </td>

                <td>
                    {{ transaction.copies }}
                </td>

                <td>
                    {{ transaction.transcription|raw }}
                </td>

                <td>
                    {{ transaction.description|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
