<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date &amp; Source</th>
            <th>Value</th>
            <th>Books</th>
            <th>Parish</th>
            <th>Modern English</th>

        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>
                    <a href="{{ path('transaction_show', { 'id': transaction.id }) }}">
                        {{ transaction }}
                    </a>
                </td>
                <td>
                    <p>
                        <a href="{{ path('transaction_show', { 'id': transaction.id }) }}">
                        {% include 'partial/short-date.html.twig' with {'entity': transaction} %}
                        </a>
                    </p>
                    <p>
                        {% if transaction.manuscriptSource %}
                            <a href='{{ path('manuscript_source_show', {'id': transaction.manuscriptSource.id}) }}'>{{ transaction.manuscriptSource }}</a>
                            {% if transaction.page %}<br>{{ transaction.page }}{% endif %}
                        {% endif %}
                    </p>
                </td>
                <td style='white-space: nowrap'>
                    {{ transaction.value(true) }}
                </td>

                <td>
                    {{ transaction.books|length }}
                </td>

                <td>
                    {% if transaction.parish %}
                        {% include 'parish/partial/location.html.twig' with {'parish': transaction.parish } %}
                    {% endif %}
                </td>

                <td>
                    {{ transaction.modernTranscription|raw }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
