{% extends 'base.html.twig' %}

{% block title %}Injunction Details {% endblock %}

 {% block pageheader %}
     <h1>Injunction Details</h1>
 {% endblock %}

 {% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('injunction_edit', {'id': injunction.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit
        </a>
        <form class="d-inline-block delete-form" method="post" action="{{ path('injunction_delete', {'id': injunction.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ injunction.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash" aria-hidden="true"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    <table class='table table-bordered table-condensed table-hover table-striped'>
        <tbody>
            <tr>
                <th>Title</th>
                <td>
                    {{ injunction.title }}
                </td>
            </tr>
            <tr>
                <th>Uniform Title</th>
                <td>
                    {{ injunction.uniformTitle|raw }}
                </td>
            </tr>
            <tr>
                <th>Variant Titles</th>
                <td>
                    {% if injunction.variantTitles %}{{ injunction.variantTitles|join(', ') }}{% endif %}
                </td>
            </tr>
            <tr>
                <th>Author</th>
                <td>
                    {{ injunction.author }}
                </td>
            </tr>
            <tr>
                <th>Imprint</th>
                <td>
                    {{ injunction.imprint|raw }}
                </td>
            </tr>
            <tr>
                <th>Variant Imprint</th>
                <td>
                    {{ injunction.variantImprint|raw }}
                </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>
                    {{ injunction.date }}
                </td>
            </tr>
            <tr>
                <th>Physical Description</th>
                <td>
                    {{ injunction.physicalDescription|raw }}
                </td>
            </tr>
            <tr>
                <th>Transcription</th>
                <td>
                    {{ injunction.transcription|raw }}
                </td>
            </tr>
            <tr>
                <th>Modern English</th>
                <td>
                    {{ injunction.modernTranscription|raw }}
                </td>
            </tr>
            <tr>
                <th>Estc</th>
                <td>
                    {{ injunction.estc }}
                </td>
            </tr>
            <tr>
                <th>Nation</th>
                <td>
                    {% if injunction.nation %}
                    <a href='{{ path('nation_show', {'id': injunction.nation.id}) }}'>{{ injunction.nation }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Diocese</th>
                <td>
                    {% if injunction.diocese %}
                    <a href='{{ path('diocese_show', {'id': injunction.diocese.id}) }}'>{{ injunction.diocese }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Province</th>
                <td>
                    {% if injunction.province %}
                    <a href='{{ path('province_show', {'id': injunction.province.id}) }}'>{{ injunction.province }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Archdeaconry</th>
                <td>
                    {% if injunction.archdeaconry %}
                    <a href='{{ path('archdeaconry_show', {'id': injunction.archdeaconry.id}) }}'>{{ injunction.archdeaconry }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Monarch</th>
                <td>
                    {% if injunction.monarch %}
                        <a href='{{ path('monarch_show', {'id': injunction.monarch.id}) }}'>{{ injunction.monarch }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Transactions</th>
                <td>
                    {% if injunction.transactions|length > 0 %}
                        <ul>
                            {% for transaction in injunction.transactions %}
                                <li>
                                    <a href='{{ path("transaction_show", {"id":transaction.id }) }}'>
                                        {{ transaction }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Inventories</th>
                <td>
                    {% if injunction.inventories|length > 0 %}
                        <ul>
                            {% for inventory in injunction.inventories %}
                                <li>
                                    <a href='{{ path("inventory_show", {"id":inventory.id }) }}'>
                                        {{ inventory }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>

            {% include 'partial/notes.html.twig' with {
                'item': injunction
            } %}
            <tr>
                <th>Links</th>
                <td>
                    {% embed '@NinesMedia/link/partial/list.html.twig' with {
                        'entity': injunction } %}
                    {% endembed %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ injunction.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ injunction.updated|date }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
