<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Uniform Title</th>
            <th>Author</th>
            <th>Imprint</th>
            <th>Date</th>
            <th>Monarch</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>
                    <p>
                        <a href="{{ path('book_show', { 'id': book.id }) }}">
                            {{ book.title }}
                        </a>
                    </p>
                    {% if book.estc %}
                        <p>ESTC: {{ book.estc }}</p>
                    {% endif %}
                </td>
                <td>
                    {{ book.uniformTitle }}
                </td>

                <td>
                    {{ book.author }}
                </td>

                <td>
                    {{ book.imprint }}
                </td>

                <td>
                    {{ book.date }}
                </td>
                <td>
                    {{ book.monarch }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
