{% extends 'base.html.twig' %}

{% block title %}Book List{% endblock %}

{% block pageheader %}
    <h1>Book List</h1>
    <p class="count">
        Displaying {{ books|length }} books of {{ books.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('book_new') }}" class="btn btn-light"> <span class="bi bi-plus-lg"></span>
            New </a>
    {% endif %}
{% endblock %}

{% block body %}
    <form class="my-3" method="get" role="search">
        <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="popover" data-bs-title="Full text searching options" data-bs-content="<ul class='list-group list-group-flush'><li class='list-group-item'><code>shakespeare</code> - shakespeare should be present, but might not be</li><li class='list-group-item'><code>shakes*</code> - words starting with shakes should be present</li><li class='list-group-item'><code>+agnes</code> - agnes must be present</li><li class='list-group-item'><code>-fisher</code> - fisher must not be present</li><li class='list-group-item'>Combinations are OK: <code>+agnes -fisher</code> finds Anges who isn't a Fisher</li><li class='list-group-item'>Phrases are OK: <code>&quot;nee agnes&quot;</code> finds rows that contain the literal phrase.</ul>">
                <i class="bi bi-question-circle" aria-hidden="true"></i><span class="visually-hidden">Search Help</span>
            </button>
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="q" id="q" value="{{ q }}" />
            <button class="btn btn-primary" type="submit" id="btn-search">
                <i class="bi bi-search" aria-hidden="true"></i> Search
            </button>
        </div>
    </form>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Uniform Title</th>
                <th>Author</th>
                <th>Imprint</th>
                <th>Date</th>
                <th>Monarch</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <p>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">
                                {{ book.title }}
                            </a>
                        </p>
                        {% if book.estc %}
                            <p>ESTC: {{ book.estc }}</p>
                        {% endif %}
                    </td>
                    <td>
                        {{ book.uniformTitle }}
                    </td>

                    <td>
                        {{ book.author }}
                    </td>

                    <td>
                        {{ book.imprint }}
                    </td>

                    <td>
                        {{ book.date }}
                    </td>
                    <td>
                        {{ book.monarch }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(books) }}
    </div>
{% endblock %}
