{% extends 'base.html.twig' %}

{% block title %}Archive Details {% endblock %}

 {% block pageheader %}
     <h1>Archive Details</h1>
 {% endblock %}

 {% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('archive_edit', {'id': archive.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit
        </a>
        <form class="d-inline-block delete-form" method="post" action="{{ path('archive_delete', {'id': archive.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ archive.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash" aria-hidden="true"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/show.html.twig' with {'term': archive} %}
        {% block callback %}
            <tr>
                <th>Manuscript Sources</th>
                <td>
                    {% if archive.manuscriptSources|length > 0 %}
                        <ul>
                            {% for source in archive.manuscriptSources %}
                                <li>
                                    <a href='{{ path("manuscript_source_show", {"id":source.id }) }}'>
                                        {{ source }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Surviving Texts</th>
                <td>
                    {% if archive.holdings|length > 0 %}
                        <ul>
                            {% for holding in archive.holdings %}
                                <li>
                                    <a href='{{ path("holding_show", {'id': holding.id}) }}'>{{ holding }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Links</th>
                <td>
                    {% embed '@NinesMedia/link/partial/list.html.twig' with {
                        'entity': archive } %}
                    {% endembed %}
                </td>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}
