{% extends 'base.html.twig' %}

{% block title %}Nation Details {% endblock %}

 {% block pageheader %}
     <h1>Nation Details</h1>
 {% endblock %}

 {% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('nation_edit', {'id': nation.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit
        </a>
        <form class="d-inline-block delete-form" method="post" action="{{ path('nation_delete', {'id': nation.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ nation.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash" aria-hidden="true"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/show.html.twig' with {'term': nation} %}
        {% block callback %}
            <tr>
                <th>Provinces</th>
                <td>
                    {% if nation.provinces|length > 0 %}
                        <ul>
                            {% for province in nation.provinces %}
                                <li>
                                    <a href='{{ path("province_show", {"id":province.id }) }}'>
                                        {{ province }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Counties</th>
                <td>
                    {% if nation.counties|length > 0 %}
                        <ul>
                            {% for county in nation.counties %}
                                <li>
                                    <a href='{{ path("county_show", {"id":county.id }) }}'>
                                        {{ county }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Injunctions</th>
                <td>
                    {% if nation.injunctions|length > 0 %}
                        <ul>
                            {% for injunction in nation.injunctions %}
                                <li>
                                    <a href='{{ path('injunction_show', {'id': injunction.id}) }}'>
                                        {{ injunction }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
