{% extends 'base.html.twig' %}

{% block title %}Surviving Text Details {% endblock %}

 {% block pageheader %}
     <h1>Surviving Text Details</h1>
 {% endblock %}

 {% block action_buttons %}
     {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('holding_image_new', {'id': holding.id }) }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> Add Image
        </a>
        <a href="{{ path('holding_edit', {'id': holding.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit
        </a>
        <form class="d-inline-block delete-form" method="post" action="{{ path('holding_delete', {'id': holding.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ holding.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash" aria-hidden="true"></i> Delete</button>
        </form>
     {% endif %}
 {% endblock %}

{% block body %}
    <table class='table table-bordered table-condensed table-hover table-striped'>
        <tbody>
            <tr>
                <th>Description</th>
                <td>
                    {{ holding.description|raw }}
                </td>
            </tr>
            {% include 'partial/notes.html.twig' with {'item': holding} %}
            <tr>
                <th>Date</th>
                <td>{% include 'partial/long-date.html.twig' with {'entity': holding} %}</td>
            </tr>
            <tr>
                <th>Parish</th>
                <td>
                    {% if holding.parish %}
                        <a href='{{ path("parish_show", {"id": holding.parish.id}) }}'>{{ holding.parish }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Archive</th>
                <td>
                    {% if holding.archive %}
                        <a href='{{ path('archive_show', {'id': holding.archive.id}) }}'>{{ holding.archive }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Books</th>
                <td>
                    {% if holding.books %}
                        <ul>
                            {% for book in holding.books %}
                                <li><a href='{{ path("book_show", {"id": book.id}) }}'>{{ book }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ holding.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ holding.updated|date }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Images</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for image in holding.images %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% embed '@NinesMedia/image/partial/list-item.html.twig' with {
                            image: image,
                            show_actions: true,
                            path_show: path('nines_media_image_show', {id: image.id}),
                            path_delete: path('holding_image_delete', {id: holding.id, image_id: image.id}),
                            path_edit: path('holding_image_edit', {id: holding.id, image_id: image.id}),
                        } %}
                        {% endembed %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
