<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Title</th>
            <td>
                {{ print_source.title }}
            </td>
        </tr>
        <tr>
            <th>Author</th>
            <td>
                {{ print_source.author }}
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {{ print_source.date }}
            </td>
        </tr>
        <tr>
            <th>Publisher</th>
            <td>
                {{ print_source.publisher }}
            </td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>
                {{ print_source.notes|raw }}
            </td>
        </tr>

        <tr>
            <th>Source Category</th>
            <td>
                {% if print_source.sourceCategory %}
                    <a href='{{ path("source_category_show", {"id": print_source.sourceCategory.id}) }}'>{{ print_source.sourceCategory }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ print_source.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ print_source.updated|date }}</td>
        </tr>
    </tbody>
</table>
