{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 text-center">
    <input type="submit" value="Save" class="btn btn-primary" />
    {% if print_source.id is null %}
        <a href="{{ path('print_source_index') }}" class="btn btn-warning"> Cancel </a>
    {% else %}
        <a href="{{ path('print_source_show', { 'id': print_source.id }) }}" class="btn btn-warning"> Cancel </a>
    {% endif %}
</div>
{{ form_end(form) }}
