<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Title</th>
            <td>
                {{ injunction.title }}
            </td>
        </tr>
        <tr>
            <th>Uniform Title</th>
            <td>
                {{ injunction.uniformTitle|raw }}
            </td>
        </tr>
        <tr>
            <th>Variant Titles</th>
            <td>
                {% if injunction.variantTitles %}{{ injunction.variantTitles|join(', ') }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Author</th>
            <td>
                {{ injunction.author }}
            </td>
        </tr>
        <tr>
            <th>Imprint</th>
            <td>
                {{ injunction.imprint|raw }}
            </td>
        </tr>
        <tr>
            <th>Variant Imprint</th>
            <td>
                {{ injunction.variantImprint|raw }}
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {{ injunction.date }}
            </td>
        </tr>
        <tr>
            <th>Physical Description</th>
            <td>
                {{ injunction.physicalDescription|raw }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ injunction.description|raw }}
            </td>
        </tr>
        <tr>
            <th>Estc</th>
            <td>
                {{ injunction.estc }}
            </td>
        </tr>
        <tr>
            <th>Monarch</th>
            <td>
                {% if injunction.monarch %}
                    <a href='{{ path('monarch_show', {'id': injunction.monarch.id}) }}'>{{ book.monarch }}</a>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Transaction</th>
            <td>
                {% if injunction.transactions|length > 0 %}
                    <ul>
                        {% for transaction in injunction.transactions %}
                            <li>
                                <a href='{{ path("transaction_show", {"id":transaction.id }) }}'>
                                    {{ transaction }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ injunction.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ injunction.updated|date }}</td>
        </tr>
    </tbody>
</table>


