<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Monarch</th>
            <th>Transcription</th>
        </tr>
    </thead>
    <tbody>
        {% for injunction in injunctions %}
            <tr>
                <td>
                    <p>
                        <a href="{{ path('injunction_show', { 'id': injunction.id }) }}">
                            {{ injunction.title }}
                        </a>
                    </p>
                    {% if injunction.estc %}
                        <p>ESTC: {{ injunction.estc }}</p>
                    {% endif %}
                </td>
                <td>
                    {{ injunction.date }}
                </td>
                <td>
                    {% if injunction.monarch %}
                        <a href='{{ path('monarch_show', {'id': injunction.monarch.id}) }}'>{{ injunction.monarch }}</a>
                    {% endif %}
                </td>
                <td>
                    {{ injunction.transcription|raw }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
