{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': parish} %}
    {% block callback %}
        <tr>
            <th>Geocoordinates</th>
            <td>
                {% if parish.latitude %}
                    {{ parish.latitude }}, {{ parish.longitude }} <br>
                    <a href="https://maps.google.com/?q={{ parish.latitude }},{{ parish.longitude }}">Google Maps</a>
                    <br>
                    <a href='https://www.openstreetmap.org/?mlat={{ parish.latitude }}&mlon={{ parish.longitude }}&zoom=15'>Open
                        Street Map</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Street Address</th>
            <td>
                {% if parish.address %}
                    {{ parish.address }} <br />
                    <a href="https://maps.google.com/?q={{ parish.address }}">Google Maps</a><br>
                    <a href='https://www.openstreetmap.org/search?query={{ parish.address }}'>Open Street Map</a>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Archdeaconry or Peculiar Court</th>
            <td>
                {% if parish.archdeaconry %}
                    <a href='{{ path("archdeaconry_show", {"id": parish.archdeaconry.id}) }}'>{{ parish.archdeaconry }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Town</th>
            <td>
                {% if parish.town %}
                    <a href='{{ path("town_show", {"id": parish.town.id}) }}'>{{ parish.town }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Links</th>
            <td>
                {% embed '@NinesMedia/link/partial/list.html.twig' with {
                    'entity': parish } %}
                {% endembed %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ parish.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ parish.updated|date }}</td>
        </tr>
    {% endblock %}
{% endembed %}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#transactions" aria-controls="home" role="tab" data-toggle="tab">Transactions ({{ parish.transactions|length }})</a></li>
        <li role="presentation"><a href="#inventories" aria-controls="profile" role="tab" data-toggle="tab">Inventories ({{ parish.inventories|length }})</a></li>
        <li role="presentation"><a href="#surviving" aria-controls="messages" role="tab" data-toggle="tab">Surviving Texts ({{ parish.holdings|length }})</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="transactions">
            {% embed 'transaction/partial/table.html.twig' with {'transactions': parish.transactions} %}
            {% endembed %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="inventories">
            {% embed 'inventory/partial/table.html.twig' with {'inventories': parish.inventories} %}
            {% endembed %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="surviving">
            {% embed 'holding/partial/table.html.twig' with {'holdings': parish.holdings} %}
            {% endembed %}
        </div>
    </div>

</div>
