{% extends 'base.html.twig' %}

{% block title %}Transaction Details {% endblock %}

 {% block pageheader %}
     <h1>Transaction Details</h1>
 {% endblock %}

 {% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('transaction_copy', {'id': transaction.id }) }}" class="btn btn-light">
            <span class="bi bi-copy"></span> Copy
        </a>
        <a href="{{ path('transaction_edit', {'id': transaction.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit
        </a>
        <form class="d-inline-block delete-form" method="post" action="{{ path('transaction_delete', {'id': transaction.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ transaction.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash" aria-hidden="true"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    <table class='table table-bordered table-condensed table-hover table-striped'>
        <tbody>
            <tr>
                <th>ID</th>
                <td>
                    {{ transaction }}
                </td>
            </tr>
            <tr>
                <th>Value</th>
                <td>
                    {{ transaction.value(true) }}
                </td>
            </tr>
            <tr>
                <th>Carriage</th>
                <td>
                    {{ transaction.shippingValue(true) }}
                </td>
            </tr>
            <tr>
                <th>Copies</th>
                <td>
                    {% if transaction.copies is not null %}
                        {{ transaction.copies }}
                    {% else %}
                        <i>unknown</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ transaction.location }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>
                    {% include 'partial/long-date.html.twig' with {'entity': transaction} %}
                </td>
            </tr>
            <tr>
                <th>Monarch</th>
                <td>
                    {% if transaction.monarch %}
                        <a href='{{ path('monarch_show', {'id': transaction.monarch.id}) }}'>{{ transaction.monarch }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Transcription</th>
                <td>
                    {{ transaction.transcription|raw }}
                </td>
            </tr>
            <tr>
                <th>Modern English</th>
                <td>
                    {{ transaction.modernTranscription|raw }}
                </td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>
                    {{ transaction.publicNotes|raw }}
                </td>
            </tr>
            {% include 'partial/notes.html.twig' with {'item': transaction} %}
            <tr>
                <th>Books</th>
                <td>
                    {% if transaction.books|length > 0 %}
                        <ul>
                            {% for book in transaction.books %}
                                <li>
                                    <a href='{{ path("book_show", {"id": book.id}) }}'>{{ book }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Parish</th>
                <td>
                    {% if transaction.parish %}
                        {% include 'parish/partial/location.html.twig' with {'parish': transaction.parish } %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Manuscript Source</th>
                <td>
                    {% if transaction.manuscriptSource %}
                        <a href='{{ path("manuscript_source_show", {"id": transaction.manuscriptSource.id}) }}'>{{ transaction.manuscriptSource }}</a>
                        {{ transaction.page }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Print Source</th>
                <td>
                    {% if transaction.printSource %}
                        <a href='{{ path("print_source_show", {"id": transaction.printSource.id}) }}'>{{ transaction.printSource }}</a>
                        {{ transaction.page }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Transaction Categories</th>
                <td>
                    {% for category in transaction.transactionCategories %}
                    <a href='{{ path("transaction_category_show", {"id": category.id}) }}'>{{ category }}</a>
                    {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Injunction</th>
                <td>
                    {% if transaction.injunction %}
                        <a href='{{ path("injunction_show", {"id": transaction.injunction.id}) }}'>{{ transaction.injunction }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ transaction.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ transaction.updated|date }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
