{% embed '@NinesUtil/term/partial/show.html.twig' with {'term': province} %}
    {% block callback %}
        <tr>
            <th>Nation</th>
            <td>
                <a href='{{ path('nation_show', {'id': province.nation.id}) }}'>
                    {{ province.nation }}
                </a>
            </td>
            <th>Dioceses</th>
            <td>
                {% if province.dioceses|length > 0 %}
                    <ul>
                        {% for diocese in province.dioceses %}
                            <li>
                                <a href='{{ path("diocese_show", {"id":diocese.id }) }}'>
                                    {{ diocese }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Injunctions</th>
            <td>
                {% if province.injunctions|length > 0 %}
                    <ul>
                        {% for injunction in province.injunctions %}
                            <li>
                                <a href='{{ path('injunction_show', {'id': injunction.id}) }}'>
                                    {{ injunction }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Links</th>
            <td>
                {% embed '@NinesMedia/link/partial/list.html.twig'
                    with {
                    'entity': province
                } %}
                {% endembed %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
